html{
    height: 100%;
    width: 100%;
}

body{
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}

header,footer{
    height: 10%;
    background-color:darkgrey;
    flex:1; /*Comparative to the body Affects for header, footer and main */
    text-align:center;
    align-content:center;
    display: flex;
    justify-content: center;
}

header > h1{
    margin: 10px;
}

h3{
    font-size: 70%;
}

main{
    display:flex;
    flex-direction:column;
    flex:10;  /*Comparative to the body Affects for header, footer and main*/
    height:100%;
}

#game{
    display:flex;
    flex-direction:row;
    flex:3.5;
    height:100%;
    width: 100%;
}

#game-Setup{
    display:flex;
    flex-direction:column;
    flex:1;
    height:100%;
    background-color: lightgray;
    width:100%;
}

#title-game-setup{
    display: flex;
    justify-content: center;
    text-align: center;
}
#title-game-setup > h2{
    margin: 10px;
}

#setup-form{
    background-color: gray;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}
#form-inputs{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#form-inputs > div{
    border-radius: 25px;
    padding: 15px;
}

#start-game-button-div{
    align-content: center;
    justify-content: center;
    display: flex;
    width: 99%;
    padding-top: 5px;
}

#start-game-button{
    text-align: center;
    align-content: center;
    width: 99%;
}

#submit-button {
    width: 100%;
}

.inputs{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

#table-and-submit {
    display:flex;
    flex-direction:column;
    flex:3;
}

#color-Table{
    background-color: white;
    display:flex;
    flex:4;
    flex-direction:row;
    text-align:center;
}

#color-Table > table{
    width:100%;
}

#score-Board{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align:center;
    width: 30%;
}
#score-Board > h2{
    margin: 5px;
}
td{
    border: 4px solid lightgray;
}

.rgbanswers{
    visibility:hidden;
    font-size: 100%;
}
.coloranswers{
    visibility:hidden;
    font-size: 100%;
}

.selected {
    border: 4px solid yellow;
}
.unselected {
    border: 4px solid lightgrey;
}

#num-answers-and-guesses {
    text-align: center;
    font-size: 13px;
}
.scoretd {
    border: none;
}

#score-table {
    margin: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    flex: 3;
    overflow: scroll;
}

#clear {
    margin-left: 5px;
    margin-right: 5px;
}